.container{
    margin-top: 20px;
    justify-self: center;
    background-color: pink;
    width: 35%;
   border: solid rgb(88, 252, 88) 4px;
}

.row{
    background-color: rgba(91, 69, 53, 0.959);
	height:150px;
	margin:10px;
}
.item1{
    background-color: blue;
}
.item2{
    background-color: purple;
   
}
.item3{
    background-color: tomato;

}
.item4{
    background-color: aqua;
}
.item5{
    background-color: darksalmon;
}
.item6{
    background-color: chartreuse;
}
.item1, .item2, .item3, .item4, .item5, .item6{
    border:dotted black 2px;
}
/* Your CSS Code here. */