.container{
    margin-top: 20px;
    justify-self: center;
    background-color: pink;
    width: 35%;
   border: solid rgb(88, 252, 88) 4px;
}

.row{
    background-color: rgba(91, 69, 53, 0.959);
	height:150px;
	margin:10px;
}
.col-md-4, .col-sm-6, .row, .col-md-8{
	border:dotted 2px;
}
/* Your CSS Code here. */